*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.full-ht{
  height: 100vh;
}


.clearfix{
  height: 100vh;
}
.clearfix:after{
  content: none;
  display: table;
  clear: none;
}

.wrapper{
  position: relative;
  height: 100vh;
}
.top-logo{
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  
}
.top-logo a{
  color: #232221;
}

.dflex{
  display: flex;
  flex-wrap: wrap;
}
.menu-icon span {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  margin-bottom: 6px;
  transition: all 0.5s ease-out;
}



.header-inner{
  position: relative;
}

.menu-icon{
  position: absolute;
  top:40px;
  right: 30px;
  cursor: pointer;

  @include media-breakpoint-up(lg){
    right: 150px;
  }
}

.menu-list{
  background: #64FFDA;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header{
  transition: all 0.5s ease-out;
  width: 0;
  overflow: hidden;
}

header.header-show{
  position: sticky;
  top: 0;
  height: 100vh;
  transition: all 0.5s ease-out;
  width: 45%;

  @include media-breakpoint-up(lg){
    width: 20%;
  }
}


.menu-list li a{
  color: #333;
  font-size: 22px;
  font-weight: 600;
}

.menu-list li{
  padding: 0 35px;
  width: 100%;
  @include media-breakpoint-up(lg){
    padding: 0 60px;
  }
}

.menu-list li + li{
  margin-top: 20px;
}

main{
  width: 100%;
  transition: all 0.5s ease-out;
}

.display-main{
  width: 55%;
  transition: all 0.5s ease-out;
  @include media-breakpoint-up(lg){
    width: 80%;
  }
}

.menu-icon.res{
  display: none;
}

.inner-wrapper{
  position: relative;
  padding: 40px 0;
}

.block-logo{
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
}
img{
  max-width: 100%;
}

.cards-block{
  width: 33.33%;
  max-width: 323px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
  display: inline-block;
  vertical-align: middle;
margin-right: 20px;
margin-bottom: 20px
}

.display-main .inner-wrapper .cards-block:last-child{
margin-right: 0;
}

.card-detail p{
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #bbbbbb;
}

.card-image{
  max-width: 200px;
  margin: 0 auto;
}

.cards-wrap{
  text-align: center;
}

.cards{
  margin-top: 40px;
}

.menu-icon.close-menu span:nth-child(2){opacity: 0;}
.menu-icon.close-menu span:first-child{transform: rotate(45deg);}
.menu-icon.close-menu span:last-child{transform: rotate( -45deg); margin-top: -16px;}

.tabs ul li{cursor: pointer; padding: 8px;}
.tabs{ margin-top: 70px; padding: 20px; box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;}
.tab-list{font-size: 15px; letter-spacing: 1px; display: inline-block;}
.tabs ul{margin-bottom: 15px;}
.tabs ul li + li{margin-left: 10px;}
.tab-content-inner{display: none;}
.tab-content-inner.active{display: block;}
.tab-content-inner p{font-size: 14px;}
.tab-list.active{background: #d5f6e9; border-radius: 6px;}



.stroke{
  color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

