.portfolio{
  padding: 85px 0;
  @include media-breakpoint-up(lg){
    padding: 40px 0;
  }
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  padding: 16px;
  border-radius: 12px;
  color:$dark;

  @include media-breakpoint-up(lg){
    padding: 30px;
  }
}