.social-img{
    margin-bottom: 20px;
    height: 200px;
    width: 150px;
    object-fit: cover;
    filter: grayscale(100%) brightness(110%) contrast(1.1);
}

.first-imgrow{
    padding-top:90px;
}
.third-imgrow{
    padding-top:40px;
}